[2020-06-18 10:13] PhibaseRothamsted opened #1 "Color style of web page"
Website at: http://poc.molecularconnections.com/Phibase/#/home:
Please change overall web page layout (look & feel) to styles used at www.pombase.org  (light style)

[2020-06-18 10:24] PhibaseRothamsted opened #2 "'Errors' tab on website"
Rename 'Errors' with 'Feedback'

[2020-06-18 10:27] PhibaseRothamsted commented on #2
Use 'Contact curators' button instead on gene centric page.
![image](https://user-images.githubusercontent.com/37658646/85009660-b8907480-b156-11ea-91e4-91d528e18b43.png)

[2020-06-18 11:11] PhibaseRothamsted opened #3 "'HELP' tab: remove ER diagram"
ER diagram does not belong to this database version. Please remove.

[2020-06-18 11:32] PhibaseRothamsted opened #4 "Landing page to design"
Need landing page similar to PomBase or UniProt

[2020-06-25 14:10] martin2urban opened #5 "Enable filtering for high level phenotype terms"
![image](https://user-images.githubusercontent.com/2812591/85735962-ff054680-b6f5-11ea-9ba4-4c702dd6dc54.png)

[2020-06-25 14:12] martin2urban commented on #5
![image](https://user-images.githubusercontent.com/2812591/85736317-4c81b380-b6f6-11ea-86a3-4fd6ff7e5be6.png)

[2020-07-16 16:33] martin2urban opened #6 "How are PHI-base gene centric 'PHI:Gxxxx' generated?"
Answer : ID has been generated based on 4 ways given below:
                                1. Different gene name
                                2. Gene name same, but different Uniprot ID
                                3. Gene name same, but no Uniprot ID then considered Gene ID
                                4. Gene name same, If Uniprot/gene ID not there, then consider Pathogen Species/Stra

[2020-07-16 16:33] #6 closed, assigned to nobody

[2020-09-19 11:12] martin2urban opened #7 "Where are BioGRID evidence codes for interaction annotations stored?"
BiGRID evidence codes are stored in the Canto configuration file. They are also listed at BioGRID at: https://wiki.thebiogrid.org/doku.php/experimental_systems. Terms are for PHYSICAL INTERACTIONS: Two-hybrid, reconstituted complex, proximity label-MS, protein-RNA, protein-peptide, PCA, FRET, Far Western, co-purification, co-localization, co-fractionation, co-crystal structure, biochemical activit

[2020-10-18 12:13] martin2urban opened #8 "Q: Where are BioGRID -physical evidence codes stored? A: In canto.yaml file"
Canto uses BioGRID physical evidence codes for physical interactions, i.e. "Two-hybrid" (see https://wiki.thebiogrid.org/doku.php/experimental_systems).
However,  in 2020-10-16 there are only 17 BioGRID 'physical interaction' terms:
![image](https://user-images.githubusercontent.com/2812591/96366839-156e5c80-1142-11eb-8fe9-957ebca543c6.png)

Canto stores these terms in a canto.yaml file, which is

[2020-10-18 12:15] #8 closed, assigned to martin2urban

[2020-10-18 12:27] martin2urban commented on #7
Duplicate of #8 : go there for details.

[2020-10-18 12:27] #7 closed, assigned to martin2urban

[2020-11-06 09:58] CuzickA opened #9 "Mock up new data type 'qualitative gene expression' for MC"
https://github.com/PHI-base/curation/issues/74

PomBase eg for 'cdc10' eg RNA level

![image](https://user-images.githubusercontent.com/11753634/98352604-24944c00-2016-11eb-942a-1403e1bb6abf.png)

![image](https://user-images.githubusercontent.com/11753634/98352670-38d84900-2016-11eb-943f-20a4ea050154.png)

PomBase eg for 'cdc2' eg protein level

![image](https://user-images.githubusercontent.com/

[2020-11-11 13:59] CuzickA opened #10 "Consider display of definitions for PHIPO and some AE terms for PHI-base users"
When users are looking at our new PHI5 web display they will come across a lot of new terms. These terms will includes the main PHIPO term and additional terms used in the AE. In the case of our new gene-for-gene workflow some of these terms can be a bit complicated to understand without the text definitions.

We may need an active link for some of these terms taking the PHI-base data user to a de

[2020-11-11 14:14] CuzickA opened #11 "Mock up 'gene-for-gene annotation' in PHI5 format"
Include
Pathogen effector GO annotation and green highlighted 'effector' in high level term column
AE 'gene-for-gene interaction' display of new compound terms

Consider
link to term definition #10
linking out gene-for-gene data to EnsemblPlants in addition to any physical interaction annotations

[2021-10-05 12:11] martin2urban opened #12 "High-level phenotype (Unaffected pathogenicity) not displayed for PHIPO:0000480"
High-level phenotype not displayed.

![MissingHighLevelPhenotype_for PHIPO_0000480](https://user-images.githubusercontent.com/2812591/136019512-e0a04e3d-c05f-4b3a-8ec6-4840b7af8bff.png)

[2021-10-06 08:45] martin2urban commented on #2
We decided to use only "Contact". This has now been implemented.

[2021-10-06 08:45] #2 closed

[2021-10-06 08:46] martin2urban commented on #3
Diagram was removed.

[2021-10-06 08:46] #3 closed

[2021-10-10 13:49] martin2urban opened #13 "Enable database browsing by allowing '*' to retrieve all records."
Requested by NAR referee

![image](https://user-images.githubusercontent.com/2812591/136699033-1d115dfb-4a0c-45ca-ad7e-5e2d32fb070b.png)
a) Search to be enabled
b) Add under examples:   "Type * to browse database."  as indicated in mock up.

[2021-11-19 11:14] CuzickA commented on #12
Also 'loss of mutualism' and 'mutualism present' for multiple PHIPO terms on this page

![image](https://user-images.githubusercontent.com/11753634/142613617-88563107-9b91-403a-ba64-d0e5a8c8d0d0.png)

![image](https://user-images.githubusercontent.com/11753634/142613430-1f34c0d1-2998-4a79-a9d9-dd32bc493fb3.png)

and for

![image](https://user-images.githubusercontent.com/11753634/142613889-cd2e7ad

[2021-11-19 11:25] CuzickA opened #14 "Incorrect use of high level phenotype 'Sensitivity to chemical'"
![image](https://user-images.githubusercontent.com/11753634/142614899-073efa89-a0d6-4f94-b882-2c5d4bd925be.png)

No chemical is used here. Mutation in host gene.

[2021-11-19 11:32] CuzickA opened #15 "The host gene pages should also show the metagenotypes and annotations"
![image](https://user-images.githubusercontent.com/11753634/142615220-8180db73-7c40-4fbd-8736-3b1f322666df.png)

![image](https://user-images.githubusercontent.com/11753634/142615418-cae114c4-b88e-4485-9a1d-b7fef7d1218f.png)

From this host gene page how can a user identify the corresponding pathogen avirulence effector eg 'AvrStb6'?

Currently one directional 'pathogen avr gene' -> 'host resistan

[2021-11-19 11:38] CuzickA opened #16 "Metagenotype is not displayed for Gene for Gene Phenotype annotations"
![image](https://user-images.githubusercontent.com/11753634/142616250-62ca9fe0-90b9-4fa1-bd10-8aa0af7bf494.png)

AE 'Compared to control' metagenotype is present but main metagenotype for annotation is missing
![image](https://user-images.githubusercontent.com/11753634/142616357-a9505663-aff2-460f-ae9e-2f543c8e096d.png)

[2021-11-19 11:42] CuzickA opened #17 "Do we want 'effector' to be displayed in PHI phenotypes and GfG phenotypes?"
![image](https://user-images.githubusercontent.com/11753634/142617052-73b16f77-d6fa-422a-8cd5-65443d30cd8f.png)

 Perhaps 'effector' can automatically be added to all GfG phenotypes?

[2021-11-19 11:45] CuzickA commented on #17
The effector term is pulled out from the BP GO annotation. Should the PHI high level term column on the right be populated with 'Effector' or should this heading be removed?

![image](https://user-images.githubusercontent.com/11753634/142617278-fd9bae9e-4ce0-4347-8ba4-947c6a5e9992.png)

[2021-11-19 11:58] CuzickA opened #18 "Incorrect deletion metagenotype, should be wildtype control metagenotype"
![image](https://user-images.githubusercontent.com/11753634/142617741-314bd014-d4c3-40bb-90b0-f6e7fea119a3.png)

![image](https://user-images.githubusercontent.com/11753634/142617794-185aa566-af9d-4df3-afea-31fde930cf4a.png)

I noticed that
TRI5delta (deletion) F. graminearum (PH-1) T. aestivum (cv. Bobwhite)
results in
abolished pathogen tissue to tissue migration within host

and
TRI5delta (dele

[2021-11-19 13:54] CuzickA commented on #14
Also here
![image](https://user-images.githubusercontent.com/11753634/142633327-5b8d1981-095d-41a5-a20c-c99e63528c6d.png)

'Sensitivity to chemical' should not be under the PHI phenotype, and should only be attached to 'increased sensitivity to chemical' PHIPO terms
![image](https://user-images.githubusercontent.com/11753634/142633664-a04edc4f-51fa-42d2-a8ce-875b18c85687.png)

[2021-11-19 14:03] CuzickA commented on #14
Note: high level terms
increased sensitivity to chemical PHIPO:0000021
increased resistance to chemical PHIPO:0000022

children of these terms used in annotation should be mapped to the relevant parent term and the high level PHI phenotype added 'Sensitivity to chemical' or 'resistance to chemical'.

For example, these two entries below are correct
![image](https://user-images.githubusercontent.co

[2021-11-22 10:57] jseager7 commented on #18
@CuzickA I don't think this is a bug with the JSON export. The annotation in the export is on the following metagenotype, which seems correct:

TRI5+ [WT level] _F. graminearum_ (PH-1) / wild type _T. aestivum_ (cv. Bobwhite)

- - -

Here's the metagenotype as it appears in the JSON export:

[code]
Here's the host genotype:
[code]
The pathogen genotype:
[code]
And the single pathogen allele:
[code

[2021-11-29 13:40] jseager7 commented on #14
@CuzickA Is the problem here with the 'PHI high level term' field in the Entry Summary section, or the high-level terms associated with the annotations?

[2021-11-29 14:07] CuzickA commented on #14
@jseager7
Both. There are no Chemistry annotations in the sessions that I have added as screenshots in the first and second comment above.

[2021-11-30 10:58] CuzickA opened #19 "Content of Pathogen and Host tabs on left sidebar"
![image](https://user-images.githubusercontent.com/11753634/144033588-e045b4e0-f8df-4017-a9f4-ff97bf8e5c2a.png)

I believe these tabs currently contain the lists of species used within the PHI-base 4 data.

For the PHI-Canto publication we are planning on loading a PHI-Canto host species list (but not a pathogen species list as these are not restricted). @martin2urban and @jseager7 does the conten

[2021-11-30 11:02] CuzickA commented on #19
https://github.com/PHI-base/data/issues/10

[2021-11-30 11:09] CuzickA commented on #19
This may require a separate ticket but also just to comment on the content of the Disease tab
![image](https://user-images.githubusercontent.com/11753634/144036162-9e2cbe66-5ef6-4880-8b7c-c34e6154dbbc.png)

Perhaps the file within this tab should be named 'Diseases PHI-base 4' or similar as for PHI-Canto we are using PHIDO listed under the ontologies tab.

Moving forward, it may be confusing havin

[2021-11-30 11:10] jseager7 commented on #19
I was slightly wrong about this: we do load a list of 269 pathogen species into PHI-Canto, but (as far as I know) it doesn't impose any effect on what can be retrieved from UniProtKB. I think the only thing the list is used for is specifying preferred names for fungal pathogens with anamorph and teleomorph names (which is why we see _Fusarium graminearum_ in the UI instead of _Gibberella zeae_).

[2021-11-30 13:18] jseager7 opened #20 "Wrong expand/collapse behavior on PHI Phenotype annotations"
After expanding a PHI Phenotype annotation, it can be collapsed by clicking anywhere on the expanded divider, not just on the plus/minus box or the annotation heading. This is not consistent with how other annotations behave, where only clicking the plus/minus icon or the annotation heading will expand or collapse the annotation.

To illustrate, in the following image, clicking anywhere on the exp

[2021-11-30 13:32] jseager7 opened #21 "Add spaces between comma separators on experimental conditions"
The current UI separates experimental conditions on phenotype annotations with a single comma, with no space after the comma, so it's difficult to see the individual conditions.

![image](https://user-images.githubusercontent.com/37659591/144056111-db14d3fd-a3cd-4c84-be14-eb338b950ebd.png)

Either a space should be added after the comma, or the experimental conditions should be separated by a newl

[2021-11-30 14:11] jseager7 opened #22 "'Expand all' button interferes with manual expand/collapse behavior"
The PHI Phenotype section has an 'Expand All' button that automatically expands all annotations in the section:

![image](https://user-images.githubusercontent.com/37659591/144057808-36ab9e00-f9d8-484b-b5ed-af177f5d47c9.png)

However, there are bugs with the current behavior:

* If 'Expand All' is used to expand all annotations, you can't then collapse the annotation by clicking the minus icon nex

[2021-11-30 14:13] jseager7 commented on #13
I think this is now enabled on v3 of the PHI-base 5 UI. Searching for '*' returns a results page with all records (currently 94 results paginated to 10 pages).

[2021-11-30 14:13] #13 closed, assigned to Molecular-Connections

[2021-11-30 14:18] jseager7 commented on #22
@CuzickA @martin2urban Do you think the 'Expand All' button in the annotation section should change its label to 'Collapse All' after the button is clicked? For example:

![image](https://user-images.githubusercontent.com/37659591/144063906-61bacbcd-88cb-4840-9555-01ad00787bc0.png)

![image](https://user-images.githubusercontent.com/37659591/144063957-c4e8a761-bb09-4b32-b2ec-be5f438dbcd0.png)

[2021-11-30 14:22] CuzickA commented on #19
I think it would be helpful if we could have a PHI-Canto pathogen species list loaded into GitHub in addition to the PHI-Canto host species. It gives users an indication of how many and which species PHI-base contains data on. The list would need updating as new pathogen species were curated.

What are the differences between
PHI-base 4 pathogen species list and PHI-Canto pathogen species list
PHI

[2021-11-30 14:29] jseager7 commented on #19
In that case, you might want to amend issue https://github.com/PHI-base/data/issues/10 to cover the pathogen species list as well.

I'll look into this as soon as possible. There might be only a few species that are new for PHI-Canto, and I'm not aware of any hosts or pathogens that were excluded from PHI-Canto when we made the lists.

I think we should treat the PHI-Canto strain lists as the PHI-

[2021-11-30 14:33] CuzickA commented on #21
I think there should be a space after the comma.

[2021-11-30 14:45] CuzickA commented on #22
The 'Expand All' button is missing from the GfG annotations

![image](https://user-images.githubusercontent.com/11753634/144068432-bb74f369-e7c7-452e-936f-23e5ddc9e4ef.png)

[2021-11-30 14:47] CuzickA commented on #22
I think 'Collapse All -' would be a 'nice to have', but that the '+' and '-' options are pretty clear so long as they work correctly.

[2021-11-30 14:55] CuzickA commented on #19
Did you mean 'species' here instead of 'strain'?

Are you suggesting that we keep the 'PHI-base 4 pathogen species list' and 'PHI-base 4 host species list' under the 'pathogen' and 'host' tabs on the new PHI5 UI and add the 'PHI-Canto pathogen species list' and 'PHI-Canto host species list' to GitHub?
OR
That we add the new 'PHI-Canto pathogen species list' and 'PHI-Canto host species list' to the

[2021-11-30 15:03] jseager7 commented on #19
Whoops, yes I did.

I'm mainly suggesting that we keep the PHI-base 4 pathogen species list and the PHI-base 4 host species list linked on the PHI-base 4 website and have only the PHI-Canto pathogen species list and the PHI-Canto host species list on the PHI-base 5 website.

We can keep both these lists (PHI-base 4 and PHI-Canto) on the PHI-base/data repository though if necessary.

[2021-11-30 15:04] jseager7 commented on #22
It's actually missing for all the sections with expandable annotations, but I'll open a new issue for this.

[2021-11-30 15:09] CuzickA commented on #19
Great, this goes back to my initial query in this ticket.
For this PHI5 UI, we currently have the 'PHI-base 4 pathogen species list' and 'PHI-base 4 host species list' under the 'pathogen' and 'host' tabs. These should probably be updated to the new 'PHI-Canto pathogen species list' and 'PHI-Canto host species list'. The lists on the old PHI-base 4 website can remain unchanged.

[2021-12-01 10:38] jseager7 opened #23 "'Expand all' button missing from most annotation sections"
Related: #22

The PHI Phenotype section on the gene page has an 'Expand All' button that expands or collapses all annotations in the section. However, this button isn't shown on other sections where the annotations can expand, such as GO Molecular Function, Gene for Gene Phenotype, Disease, and so on.

![image](https://user-images.githubusercontent.com/37659591/144219222-e4587839-e0df-4e3a-b61a-40

[2021-12-01 10:45] jseager7 opened #24 "Typo in 'PHI-base anti-infectives' link"
The link to the PHI-base anti-infectives page (under the Data Links tab of the homepage sidebar) has a typo.

![image](https://user-images.githubusercontent.com/37659591/144220178-57d79a7e-cac0-4c30-b3d9-93dbd773c208.png)

The text should be 'PHI-base anti-infectives', not 'PHI-base **Ant**-infectives'. The text 'anti' should be shown in lowercase as well.

[2021-12-01 11:10] jseager7 opened #25 "Advanced search does not support substring searches"
The Advanced Search page only seems to support searching by prefix, rather than allowing searches for substrings (terms that are contained anywhere within the results).

For example, searching for 'fus' in the Disease field returns 'fusarium ear blight' because 'fus' is a prefix of 'fusarium'.

![image](https://user-images.githubusercontent.com/37659591/144222221-1127258b-2c3c-427f-84c0-5089e6b301

[2021-12-01 11:17] jseager7 opened #26 "Advanced Search: 'Pathogen species' field includes host species"
The 'Pathogen species' field in the Advanced Search includes host species as well as pathogens. In the image below, _Trichophyton rubrum_ is a pathogen, but _Triticum aestivum_ is a host.

![image](https://user-images.githubusercontent.com/37659591/144224984-c0ea6c21-729e-4ac9-bfd3-316d8ff2d8f7.png)

The Host species field is not affected by this bug: it only shows host species.

[2021-12-01 11:22] jseager7 opened #27 "Advanced Search: Reset button does not reset Publication Year field"
The Advanced Search page has a Reset button that is supposed to reset all fields to their default values. However, it does not reset the Publication Year field: the value remains at whatever was previously set.

The Publication Year field should be reset to its initial values when clicking the Reset button: the first drop-down should be set to 'Single' and the second drop-down should be set to 'Se

[2021-12-01 11:29] jseager7 opened #28 "PHIB-BLAST link on homepage links to private video"
In the PHI-base Data section of the homepage, there's a link to PHIB-BLAST. However, this link currently links to a private video on YouTube, rather than the PHI-blast service on the PHI-base domain.

![image](https://user-images.githubusercontent.com/37659591/144226622-dc206b49-33b0-4297-9390-600c5b3612ce.png)

@martin2urban Should this link point to the following address? https://phi-blast.phi-b

[2021-12-01 11:46] jseager7 opened #29 "'How to cite us' link doesn't provide clear information"
There's a 'How to cite us' link in the PHI-base Data section of the homepage.

![image](https://user-images.githubusercontent.com/37659591/144227587-e26e50ca-0bf6-4f8e-9598-f923a12eba67.png)

This links to the About page, but this page doesn't make it obvious how to cite PHI-base. There's a citation for the latest PHI-base NAR publication in the 'Publications on PHI-base' section', but that isn't

[2021-12-01 12:00] jseager7 opened #30 "Searches that match a PHIG ID should link directly to the gene page"
For example, a search for 'PHIG:256' only returns one gene, but you still need to click 'View' to get to the actual gene page.

![image](https://user-images.githubusercontent.com/37659591/144229472-ce3dfb9e-8bbd-454f-b26a-95cb74f9cbdd.png)

It would be more convenient if the search linked straight to the gene page in this case. That's how the search behaves on other websites (like UniProtKB) when

[2021-12-01 12:07] jseager7 opened #31 "PHI-base logo should link to homepage"
It's very common for a website's logo to link to the homepage when clicked, but this doesn't happen on PHI-base 5.

![image](https://user-images.githubusercontent.com/37659591/144231366-7fd28078-ba6e-4be4-b6fe-791223c483d4.png)

The logo should link to the homepage when clicked. I think it's still worth keeping the 'Home' link to accommodate users who are used to the other style, even if it's tech

[2021-12-06 10:28] CuzickA commented on #15
We would like this to look like the pathogen pages containing metagenotype annotations.

[2021-12-06 12:22] jseager7 commented on #29
We decided that we would just include a DOI for the latest PHI-base publication on the homepage: the same as with PHI-base 4.

[2021-12-06 12:23] jseager7 commented on #28
This link is supposed to be for a training video for the PHIB-BLAST service, so the link should be renamed to 'PHIB-BLAST Tutorial'.

[2021-12-08 12:02] lokanath79 commented on #27
We will check and come back with in a week

[2022-01-10 12:02] CuzickA opened #32 "Host phenotypes should not be displayed on pathogen gene pages"
e.g. https://poc.molecularconnections.com/phibase-v3/#/search-detail-page/PHIG:277
![image](https://user-images.githubusercontent.com/11753634/148762926-a4864893-9908-4d52-82d9-fb7ff9a1ecfc.png)

[2022-01-19 13:16] jseager7 opened #33 "No term label displayed for some PHIPO terms"
The gene page for PSTG_12806 of Puccinia striiformis (PHIG:341) is missing a term label in the PHI Phenotype section, for the PHIPO term PHIPO:0001231. All that is shown is a hyphen.

![image](https://user-images.githubusercontent.com/37659591/150137550-66c0f791-47ad-4312-94dc-96a6fc271b0d.png)

The expected term label is 'host RNA involved in a pathogen interaction present' (see [here](https://ww

[2022-01-19 13:49] jseager7 opened #34 "Alleles in metagenotypes have hyphens replaced with spaces"
When allele names are displayed as part of a metagenotype, the UI seems to replace hyphens with spaces. However, the pop-up with additional information displays the allele name correctly, with the hyphens intact:

![image](https://user-images.githubusercontent.com/37659591/150142738-dbbf8c3c-c466-44c9-b2d5-615cac1c4bc1.png)

I think we'd prefer to keep the allele name as it appears in PHI-Canto, s

[2022-01-19 13:53] jseager7 commented on #30
We've since decided that only a search for a PHIG identifier should link directly to the gene page, since currently that's the only identifier that we can guaranteed will be unique. I've amended the original comment to reflect this.

[2022-01-20 11:28] jseager7 opened #35 "FER1 and FER2 genotypes displayed on wrong gene pages"
PHI-base 5 has Host Phenotype annotations for the FER1 and FER2 genes of Triticum aestivum. The FER1 genes are included in a multi-allele genotype containing copies of FER1 for multiple genomes (and the same for FER2). However, the gene page for each FER1 gene wrongly shows the genotype that includes FER2:

![image](https://user-images.githubusercontent.com/37659591/150329908-03a56f58-bdfb-460a-a2

[2022-01-20 11:39] jseager7 commented on #33
I've also noticed that labels are missing from the following terms:

* PHIPO:0001235 'host defense-related RNA involved in a pathogen interaction present'
* PHIPO:0001245 'increased protein phosphorylation involved in host PAMP-triggered immunity (MAPK) signaling activated by pathogen'
* PHIPO:0001246 'host PAMP-triggered immunity activated by pathogen present'

[2022-01-20 11:43] jseager7 commented on #33
Given that the term ID numbers for all of these terms seem to be in the high numbers, it's possible that the PHI-base 5 UI is loading its term labels from an outdated version of PHIPO. All of the above terms are in the version of the ontology linked to by PHIPO's persistent URL ([purl.obolibrary.org/obo/phipo.owl](http://purl.obolibrary.org/obo/phipo.owl)).

[2022-01-20 12:24] jseager7 opened #36 "UniProtKB accession number A0A3B5Y122 is not loaded"
PHI-base returns no search results for UniProtKB accession number [A0A3B5Y122](https://www.uniprot.org/uniprot/A0A3B5Y122), which PHI-Canto uses for the FER1 (_a_ genome) gene of _Triticum aestivum_. The accession does not show up in a search for 'Triticum aestivum' either, which should show all the genes for that species.

[2022-01-24 15:57] jseager7 opened #37 "Wrong allele names displayed for MGG_08054 gene"
Many of the PHI Phenotype annotations on the gene page for MGG_08054 of _Magnaporthe oryzae_ (PHIG:294) have the wrong allele name in the pathogen genotype. Most of these errors have 'Chia1-NSP' as the allele name, instead of 'Chia1+'. For example:

![image](https://user-images.githubusercontent.com/37659591/150814904-187d4ab1-df0b-43ae-9506-22f5299d42aa.png)

According to the data in JSON export,

[2022-01-24 16:04] jseager7 commented on #17
I think we've decided that we do want to include the Effector high-level term for all of the above cases, and I've sent instructions for how it should be done. @CuzickA Feel free to close this if you agree.

[2022-01-24 16:04] jseager7 commented on #15
Removing the 'discuss' label since we've decided on a mockup for this now.

[2022-01-25 11:55] CuzickA commented on #17
Yes, we decided to include Effector high-level term tag for PHI and GfG annotations where the pathogen gene has the GO BP effector term (or child).

Closing ticket

[2022-01-25 11:55] #17 closed, assigned to nobody

[2022-02-02 07:44] Molecular-Connections commented on #36
This issue has been fixed and deployed.
https://poc.molecularconnections.com/phibase-v3/#/search-list-page?keyword=Triticum%20aestivum&start=0
![Web capture_2-2-2022_131111_poc molecularconnections com](https://user-images.githubusercontent.com/42062037/152113303-22dd9348-69d0-4b1d-9565-bb0d85b5e9c3.jpeg)

[2022-02-02 07:52] Molecular-Connections commented on #34
It's fixed and deployed .

https://poc.molecularconnections.com/phibase-v3/#/search-detail-page/PHIG:341

![Github-34](https://user-images.githubusercontent.com/42062037/152114280-397f4f8b-fd78-4674-883d-217ba8c0b2d9.png)

[2022-02-02 07:57] Molecular-Connections commented on #33
Status : In progress .
Description : Re-index the content with latest owl file - http://purl.obolibrary.org/obo/phipo.owl .

[2022-02-02 08:05] Molecular-Connections commented on #31
Fixed. https://poc.molecularconnections.com/phibase-v3/#/home

[2022-02-02 08:08] Molecular-Connections commented on #30
On search of PHIG ID , it's directly displaying the gene details page now .

[2022-02-02 08:14] Molecular-Connections commented on #28
It's renamed to PHIB-BLAST Tutorial .
![Web capture_2-2-2022_134228_poc molecularconnections com](https://user-images.githubusercontent.com/42062037/152116926-c022336b-dfa7-45ca-baaf-6edb627e8ea8.jpeg)

[2022-02-02 08:37] Molecular-Connections commented on #27
Issue is fixed .
https://poc.molecularconnections.com/phibase-v3/

[2022-02-02 08:40] Molecular-Connections commented on #25
Anywhere match is implemented in auto-suggest feature .
![Github-34](https://user-images.githubusercontent.com/42062037/152120432-879e6267-fafa-4e15-8d1b-53b6e67b71a9.png)

[2022-02-02 08:40] #25 closed, assigned to nobody

[2022-02-02 08:42] Molecular-Connections commented on #24
Text is changed to Phi-base anti-infectives
![Github-34](https://user-images.githubusercontent.com/42062037/152120741-8fcd1024-b58a-42c6-a775-a91a7304d7a0.png)

[2022-02-02 08:42] #24 closed, assigned to nobody

[2022-02-02 08:46] Molecular-Connections commented on #23
Expand all option has been implemented in  other blocks like  GO Molecular Function, Gene for Gene Phenotype, Disease, and so on. Currently it's done for single annotations also .
![Github-34](https://user-images.githubusercontent.com/42062037/152121145-ef2065e9-30ae-4c48-a9da-10fc8d24cabd.png)

[2022-02-02 08:50] Molecular-Connections commented on #21
Added space after comma .

![Github-34](https://user-images.githubusercontent.com/42062037/152121746-f49e96db-6fc9-4c40-bdbb-e8cd71d714b7.png)

[2022-02-02 08:50] #21 closed, assigned to nobody

[2022-02-02 08:50] Molecular-Connections commented on #20
Fixed .

https://poc.molecularconnections.com/phibase-v3/#/search-detail-page/PHIG:253

[2022-02-02 11:45] jseager7 commented on #19
In the last meeting we decided to display the updated PHI-Canto species lists in these sections. While it's true that the pathogen species list is less necessary (since there are no restrictions on what UniProtKB accession number the user can enter), it's still useful because the pathogen list provides our preferred names for each NCBI Taxonomy ID.

[2022-02-02 11:47] #36 closed, assigned to nobody

[2022-02-02 11:48] #34 closed, assigned to nobody

[2022-02-02 11:49] #31 closed, assigned to nobody

[2022-02-02 11:49] #30 closed, assigned to nobody

[2022-02-02 11:50] #27 closed, assigned to nobody

[2022-02-02 11:52] jseager7 commented on #23
We agreed that it was fine to leave the 'Expand all' button visible on sections with only one annotation.

[2022-02-02 11:52] #23 closed, assigned to nobody

[2022-02-02 11:56] jseager7 commented on #22
Fixed in https://github.com/PHI-base/PHI5_web_display/issues/20#issuecomment-1027710506.

[2022-02-02 11:56] #22 closed, assigned to nobody

[2022-02-02 11:59] jseager7 commented on #20
@Molecular-Connections Thanks, but I think your above comment referred to fixing the bug in issue #22 instead of this one. The gene page you linked to still has the bug from this issue.

Note that this issue is about how clicking the expanded section should not collapse the section: only clicking the plus/minus icon (or the metagenotype name) should collapse the section.

[2022-02-02 12:15] jseager7 commented on #11
@CuzickA Is this issue still current now that I've sent out the instructions for the high-level Effector term mapping? The links to Ensembl plants sound like a future issue for when Ensembl's new database is released.

[2022-02-02 12:19] jseager7 commented on #14
In the last meeting we confirmed that this is due to incorrect logic for deciding which annotations should be tagged with the high-level term. The detailed mapping instructions that I sent out should get this fixed.

[2022-02-02 12:20] CuzickA commented on #11
@jseager7 I agree, this is probably more of a EBI project topic now that MC have the new Effector mapping information.

[2022-02-02 12:24] jseager7 commented on #11
I'll close this for now. We can open a separate issue for adding cross-references from Physical Interaction annotations to Ensembl Plants when needed (or I could just do that now and label the issue as 'future').

[2022-02-02 12:24] #11 closed, assigned to CuzickA

[2022-02-16 12:01] Molecular-Connections commented on #33
Could you please point us to latest OBO file for PHIPO ontology if available.

[2022-02-21 09:53] jseager7 commented on #33
@Molecular-Connections you can get the latest release of the OBO file from PHIPO's persistent URL:

http://purl.obolibrary.org/obo/phipo.obo

If you notice any problems with this file (e.g. missing terms), please let us know and we can make a new release.

There is also a persistent URL for the PHIPO OWL file:

http://purl.obolibrary.org/obo/phipo.owl

[2022-02-22 11:16] jseager7 opened #38 "Typo in URL of Curation page"
The URL for the 'Curation' page has a typo: 'bio-curation' is spelled 'bio-cu**rr**ation' (with an extra R).

It's also more conventional for 'bio-curation' to be formatted as 'biocuration' with no hyphen. So I'd suggest the URL path be changed to the following:
[code]

[2022-02-28 11:01] jseager7 opened #39 "Error displayed in experimental conditions for PHIG:294"
There seems to be a data loading error displayed in the Conditions section for a PHI Phenotype annotation on PHIG:294 (MGG_08054 of _Magnaporthe oryzae_). See the image below:

![image](https://user-images.githubusercontent.com/37659591/155971769-e5cd1183-65ba-47a4-915f-ec7066a5ce9d.png)

I need to check this against the PHI-Canto JSON export to see if there's anything there that might be causing

[2022-02-28 11:03] jseager7 commented on #14
This is fixed now. None of the above entries show the incorrect high-level terms.

[2022-02-28 11:03] #14 closed, assigned to nobody

[2022-02-28 11:09] jseager7 commented on #12
The unaffected pathogenicity example is fixed, but there's still no 'loss of mutualism' or 'mutualism present' on the other gene pages.

[2022-02-28 11:11] jseager7 commented on #19
The sidebar items now link to the updated species lists on [PHI-base/data](https://github.com/PHI-base/data), but we wanted the species lists to be downloaded directly from the PHI-base website.

[2022-03-22 18:30] Molecular-Connections commented on #38
This bug has been fixed and deployed .

[2022-03-22 18:33] Molecular-Connections commented on #33
Data updated with PHIPO ontology http://purl.obolibrary.org/obo/phipo.obo .

[2022-03-23 07:14] Molecular-Connections commented on #12
It was pointed to Phibase-4 High level term by mistake . It's fixed now and deployed .
Ref : PHIG:255

[2022-03-23 07:16] Molecular-Connections commented on #19
We have implemented strapi for getting the URL so that we can change it anytime in future. It can be downloaded from UI directly instead of showing GITHUB page .

[2022-03-23 07:18] Molecular-Connections commented on #39
Bug is fixed and deployed . Please refer PHIG: 294.

[2022-03-23 09:32] #38 closed, assigned to nobody

[2022-03-23 09:37] jseager7 commented on #19
Thanks for the extra work adding the URL to strapi. The current links are working well.

[2022-03-23 09:37] #19 closed, assigned to jseager7

[2022-03-23 09:42] #39 closed, assigned to nobody

[2022-03-23 09:45] jseager7 commented on #33
I've confirmed that the term labels are fixed for all of the terms listed above.

[2022-03-23 09:45] #33 closed, assigned to nobody

[2022-03-23 15:20] jseager7 commented on #12
@Molecular-Connections Thanks for fixing the 'loss of mutualism' term, but I think we also need 'Mutualism present' added as a high-level term on annotations that have 'infective_ability mutualism present' in the Additional information section.

For example:

![image](https://user-images.githubusercontent.com/37659591/159733310-4a5f96f1-3e67-43f4-b4de-f51c8c8343f3.png)

@CuzickA can you confirm th

[2022-03-29 08:20] CuzickA commented on #12
Hi @jseager7, yes we also need 'mutualism present'.

[2022-04-10 12:45] Molecular-Connections commented on #35
Do we need to hardcode the uniprotKB ID for rendering it . If "Yes" do we have any other case also where we need to take care while displaying  .

The FER1 genotype should only be shown on the gene pages for the following accessions:

A0A3B5Y122
A0A3B5YY12
A0A3B5ZUX1
The FER2 genotype should only be shown on the gene pages for the following accessions:

A0A3B6HVQ9
A0A3B6ITE6
A0A3B6JHD1

[2022-04-11 11:38] jseager7 commented on #35
@Molecular-Connections Sorry, maybe I wasn't making myself clear. What I meant is that _after_ this problem is fixed, then the genotypes should only display on the gene pages for the UniProtKB IDs that I mentioned. I listed the UniProtKB IDs so that you could use them to confirm that the problem is fixed. I didn't mean that the issue itself should be fixed by restricting the genotype to those page

[2022-04-11 20:51] Molecular-Connections commented on #15
Need more information on how to populate metagenotype in Gene-for-gene-phenotype section . Is this the same way how Phi-phenotype is populated ?

[2022-04-12 09:22] jseager7 commented on #15
@Molecular-Connections Yes, the gene-for-gene phenotypes should be populated in the same way as the PHI phenotypes.

The only difference with host gene pages is that you should ignore wild type metagenotypes, meaning metagenotypes where there is no host gene. In the JSON export, wild type metagenotypes have identifiers that look like the following:
[code]
Their genotype objects also have an empty

[2022-04-25 09:14] Molecular-Connections commented on #37
The issue has been fixed .

![image](https://user-images.githubusercontent.com/42062037/165058784-3bfb438b-c56f-45a7-9f49-7476da0bebbf.png)

[2022-04-25 09:42] Molecular-Connections commented on #29
Implemented the way it's in Phibase-4

[2022-04-25 09:47] Molecular-Connections commented on #18
This is fixed
![image](https://user-images.githubusercontent.com/42062037/165064779-5a6c9de6-56ab-4c6d-aef6-a90290addf76.png)

[2022-04-25 09:57] Molecular-Connections commented on #12
Please let us know the specs for "mutualism present" so that will update it in database .

[2022-04-25 13:15] #29 closed, assigned to nobody

[2022-04-25 13:21] jseager7 commented on #37
The allele names look correct now, many thanks.

[2022-04-26 08:41] #18 closed, assigned to nobody

[2022-04-26 08:57] jseager7 commented on #12
@Molecular-Connections any annotation with the 'infective_ability' extension relation and the range value PHIPO:0000035 (mutualism present) should be tagged with the 'Mutualism present' high-level term.

Here's the above annotation as it appears in the JSON export:
[code]

[2022-04-26 09:34] jseager7 opened #40 "Should we remove the 'Taxonomies' link from the sidebar?"
The sidebar on the PHI-base 5 homepage has a 'Taxonomies' link that links to the NCBI Taxonomy homepage:

![image](https://user-images.githubusercontent.com/37659591/165269503-0b8f403b-7707-415e-aa98-21db25bda740.png)

However, NCBI Taxonomy is already linked to in the 'External resources' drop-down menu:

![image](https://user-images.githubusercontent.com/37659591/165269600-5305c24d-e14d-4581-a6a

[2022-04-26 09:40] jseager7 opened #41 "Duplicated link destination in navigation bar and sidebar (Community resources)"
The sidebar on the PHI-base 5 homepage has a link called 'Community resources':

![image](https://user-images.githubusercontent.com/37659591/165271008-11909f94-9095-405d-b180-17b3c2db3665.png)

But it links to the same page as the 'Community' link in the navigation bar:

![image](https://user-images.githubusercontent.com/37659591/165271135-dfa4b1d8-3270-4171-af05-47cbee9ae173.png)

I don't think w

[2022-04-26 11:34] jseager7 opened #42 "Update sidebar link names and title attributes"
This issue covers suggested changes to the links in the sidebar.

Rename link names
------------------

My first suggestion is to rename some links in the sidebar so that their purpose is more obvious:

In the sidebar, rename the 'Wiki page' link to 'Wikipedia page'.

In the **Data links** drop-down menu, rename the following links:

Old name | New name
--- | ---
PHI-base GitHub | PHI-base GitHub

[2022-04-26 11:35] jseager7 commented on #42
@CuzickA @martin2urban Are you okay with the suggested text above?

[2022-04-26 12:01] martin2urban commented on #42
Thanks for suggestions! Looks fine to me.

[2022-04-27 06:24] Molecular-Connections commented on #35
Issue has been fixed .

![Screen Shot 2022-04-27 at 11 52 - PhibaseUI](https://user-images.githubusercontent.com/42062037/165454340-b711d95c-12ea-4496-a791-6227c8defc95.jpg)

[2022-04-27 07:10] Molecular-Connections commented on #32
We have fixed this bug as per the specs provided .

Reference : https://poc.molecularconnections.com/phibase-v3/#/search-detail-page/PHIG:277

[2022-04-27 07:11] Molecular-Connections commented on #20
The expand and collapse is fixed , Will work by clicking of plus/minus button which is uniform across the page .

[2022-04-27 08:31] CuzickA commented on #42
This looks good @jseager7

[2022-04-27 08:34] CuzickA commented on #41
Were we planning on providing the same information in both 'Community resources' and 'Community'?

[2022-04-27 08:40] CuzickA commented on #40
We will have a link to GO in two places. I assume it will be available under 'ontologies' and also above in the 'external resources' option. PHI-Canto uses information from GO and NCBI so perhaps it is useful to have two links to these resources.

Off topic for this ticket, but do we also provide a link to UniProt under 'external resources'?

[2022-04-27 08:51] jseager7 commented on #40
That's a bit different since we have a dedicated page section for ontologies, which you can see here: https://poc.molecularconnections.com/phibase-v3/#/ontologies

But the 'Taxonomies' link is just a link to the NCBI Taxonomy homepage.

Yes, it's here:

![image](https://user-images.githubusercontent.com/37659591/165480485-b46266c0-e1bb-47af-b264-0b5b1aea96b7.png)

[2022-04-27 08:54] jseager7 commented on #41
I'm not sure. The link didn't link to anywhere except the page itself (not a section of it) and I can't think of anything else that we hadn't already covered on the existing Community page.

The link disappeared from the homepage while I was typing this comment anyway. :confused:

[2022-04-27 08:57] CuzickA commented on #40
Perhaps we could also include NCBI Taxonomy at the bottom of the ontology page?

[2022-04-27 08:59] jseager7 commented on #35
Confirmed as fixed.

[2022-04-27 08:59] #35 closed, assigned to nobody

[2022-04-27 09:05] jseager7 commented on #20
Confirmed as fixed.

[2022-04-27 09:05] #20 closed, assigned to nobody

[2022-04-27 09:55] jseager7 commented on #42
Confirmed as fixed.

[2022-04-27 09:55] #42 closed, assigned to nobody

[2022-04-27 09:58] jseager7 commented on #4
@martin2urban Can this issue be closed now that we have a beta version of the PHI-base 5 homepage?

[2022-04-27 10:07] jseager7 commented on #32
@Molecular-Connections Based on the link above, I'm still seeing the Host Phenotype section on the gene page for ATR1 of _Hyaloperonospora arabidopsidis_ (PHIG:277), which isn't correct since _Hyaloperonospora arabidopsidis_ is a pathogen, not a host.

The Host Phenotype annotations don't seem to have any genes, so maybe there's some leftover data that needs removing?

In order for this to be conf

[2022-04-27 10:07] CuzickA commented on #37
There is still a problem here as the current displayed data does not make biological sense

![image](https://user-images.githubusercontent.com/11753634/165494314-7f120352-65cf-4c02-8714-10a2a9946f4d.png)
![image](https://user-images.githubusercontent.com/11753634/165494417-c275baf6-3a2c-425e-98bd-1aab4dd643c3.png)
![image](https://user-images.githubusercontent.com/11753634/165494494-47e4898c-7a63-

[2022-04-27 10:25] jseager7 commented on #37
@CuzickA Thanks for checking this. I'll have to compare all the data on this page against the JSON export to see what's going wrong.

[2022-04-27 12:40] martin2urban commented on #4
I agree.

[2022-04-27 12:40] #4 closed

[2022-05-20 09:54] jseager7 opened #43 "Use latest NAR DOI in 'How to cite us' on homepage"
The homepage of the PHI-base 5 website has a 'How to cite us' section with a DOI that points to an older publication in Nucleic Acids Research:

![image](https://user-images.githubusercontent.com/37659591/169503586-398d4e37-1d95-4215-a7c5-a5c592a06278.png)

We want to use the DOI for the latest publication (2022), which is shown below:

https://doi.org/10.1093/nar/gkab1037

Meaning the text would

[2022-05-24 13:20] Molecular-Connections commented on #37
@jseager7 Please provide us some guidance so that we can fix it soon . Thanks .

[2022-05-26 12:02] jseager7 commented on #37
@Molecular-Connections Sorry for the delay, but I had to figure out what the problem was first.

It looks like the allele names are missing from the host genotypes. Some of the host genotypes should have alleles specified, for example 'TPR1+' and 'TPR1-OE'.

Shown below is a table of all the PHI phenotype annotations in the JSON export (from 7 July 2021) for the UniProtKB accession number G4MXR2 (

[2022-05-30 10:03] Molecular-Connections commented on #43
We are implementing the headless way of updating the cite us block as it might change in future .

[2022-06-01 08:05] jseager7 commented on #41
I think I'll close this for now since we probably won't need the link back in the sidebar until we have content for it. If anyone disagrees, feel free to reopen this issue.

[2022-06-01 08:05] #41 closed, assigned to nobody

[2022-06-01 08:30] jseager7 commented on #15
I think this issue is fixed now, since I can see metagenotype annotations on the pages for host genes that are part of metagenotypes. The stb6 page has the annotations, and so does another gene I chose at random ([Cf-4A](https://poc.molecularconnections.com/phibase-v3/#/search-detail-page/PHIG:311)).

The metagenotypes aren't showing for the Gene for Gene Phenotype annotations, but that's covered

[2022-06-01 08:30] #15 closed, assigned to nobody

[2022-06-01 08:40] jseager7 commented on #16
Just to clarify, here is what the above Gene for Gene Phenotype annotation would look like if the metagenotype were displayed in the same way as the PHI Phenotype annotation:

![image](https://user-images.githubusercontent.com/37659591/171363709-c7045396-b3cc-414c-a821-ce815be26baa.png)

[2022-06-01 13:59] jseager7 commented on #40
The Taxonomies link has been removed from the sidebar (as agreed), but the NCBI Taxonomy link is now missing from the drop-down menu under External resources. The link should be added back in to this menu, as in the image below:

![image](https://user-images.githubusercontent.com/37659591/165269600-5305c24d-e14d-4581-a6a3-b96e31a794c5.png)

[2022-06-01 14:22] jseager7 opened #44 "Include gene expression level in genotype and metagenotype display names"
Currently, the gene expression level for alleles is displayed in the pop-up for genotypes and metagenotypes, but it is not included in the display name itself. This makes it difficult to see when a phenotype is being caused only by a change in gene expression level.

![image](https://user-images.githubusercontent.com/37659591/171427410-97cd7339-43c0-4b93-b30c-db5da00e4d23.png)

The expression leve

[2022-06-09 10:32] jseager7 opened #45 "Abbreviate genus in scientific names in more sections"
I've noticed that the genus of the scientific name is abbreviated in metagenotype annotations:

![image](https://user-images.githubusercontent.com/37659591/172825917-8f6a6c93-f42f-4e60-9ada-616accccb672.png)

But not in other annotation types:

![image](https://user-images.githubusercontent.com/37659591/172825999-22a40644-7a8f-4387-82fd-452f4cd9fe5d.png)

@martin2urban @CuzickA Do we want to abbre

[2022-06-09 10:39] jseager7 opened #46 "Rename 'Interactions' heading to 'Interactor' in annotation pop-up"
Currently, the section of the annotation pop-up that contains the pathogen or host role of the organism in an interaction is titled 'Interactions', but that doesn't seem very accurate or descriptive.

![image](https://user-images.githubusercontent.com/37659591/172827377-821aa7b3-67e5-4ccf-90d9-4b9e34751f88.png)

I think this title should be renamed to either 'Role' or 'Interactor'. 'Interactor' is

[2022-06-28 05:59] sahujashobanta commented on #12
Issue is fixed .
![image](https://user-images.githubusercontent.com/47596513/176104284-ae67fb23-6d46-46c5-bc7b-7f4945356e8d.png)

[2022-06-28 08:54] jseager7 commented on #12
Confirmed as fixed.

[2022-06-28 08:54] #12 closed, assigned to Molecular-Connections

[2022-06-28 09:14] sahujashobanta commented on #43
As discussed 'How to Cite us ' text also linked to the https://doi.org/10.1093/nar/gkab1037 link.

[2022-06-28 09:15] sahujashobanta commented on #40
NCBI taxonomy has been added to the submenu list .

[2022-06-28 09:16] sahujashobanta commented on #40
NCBI Taxonomy has been added to the sub menu .
![image](https://user-images.githubusercontent.com/47596513/176142196-53f1bb34-1f47-43fc-baad-08229352f84d.png)

[2022-06-28 09:17] sahujashobanta commented on #26
Issue is fixed .

[2022-06-28 09:51] jseager7 commented on #43
Thanks, confirmed as fixed.

[2022-06-28 09:51] #43 closed, assigned to Molecular-Connections

[2022-06-28 09:52] jseager7 commented on #40
Thanks, confirmed as fixed.

[2022-06-28 09:52] #40 closed, assigned to Molecular-Connections

[2022-06-28 09:55] jseager7 commented on #26
Thanks, confirmed as fixed.

[2022-06-28 09:55] #26 closed, assigned to nobody

[2022-06-28 11:06] sahujashobanta commented on #44
Does this rule hold true for  Gene For Gene Phenotype also ?

[2022-06-28 11:20] jseager7 commented on #44
@sahujashobanta Yes, it also applies to the Gene For Gene Phenotype annotation type, and also to the Pathogen Phenotype and Host Phenotype annotation types.

However, it's not clear from the database description whether or not the expression level is loaded for the Pathogen Phenotype and Host Phenotype annotation types, so that change may need more discussion.

[2022-06-29 08:21] sahujashobanta commented on #37
We have grouped then while displaying in the UI w.r.t display name for a PHIPO ID . Hence the count looks mismatch . Please suggest.

[2022-06-29 09:33] jseager7 commented on #46
We decided to rename this heading to 'Interactor'.

[2022-06-29 09:42] jseager7 commented on #45
We agreed to abbreviate the genus in the metagenotype and genotype display names, but not in the pop-up that shows when the display name is moused-over.

[2022-06-29 10:13] jseager7 commented on #37
We need further discussion to decide whether grouping by display name is the right option.

If we do choose to continue grouping by display name, then the high-level terms would need to be associated with the Additional information blocks, in order to prevent invalid combinations of high-level terms such as 'Reduced virulence' and 'Increased virulence' on the same annotation.

Note that the Entry

[2022-06-29 10:39] jseager7 opened #47 "Disease name annotations do not show pathogen or host display names"
The Disease section does not show a display name for the metagenotype linked to the annotation. This is a similar bug to https://github.com/PHI-base/PHI5_web_display/issues/16, where the metagenotype display names were not displayed for gene-for-gene phenotypes.

Here is the current Disease section for ATR1 ([PHIG:277](https://poc.molecularconnections.com/phibase-v3/#/search-detail-page/PHIG:277))

[2022-06-29 10:53] jseager7 commented on #45
Just to clarify, the genus should be abbreviated in the display names in the following sections:

* PHI Phenotype
* Gene-for-gene phenotype
* Pathogen phenotype
* Host phenotype
* Disease name (once issue [#47](https://github.com/PHI-base/PHI5_web_display/issues/47) is fixed).

Other sections, such as Pathogen, Host and Physical Interaction, can stay the same, since space usage is not an issue in

[2022-06-29 10:56] jseager7 commented on #46
Here's what the pop-up would look like with the above changes:

![image](https://user-images.githubusercontent.com/37659591/176420497-6cc08d30-20b3-4f46-b35d-8efd2e48f56f.png)

[2022-06-29 11:00] jseager7 commented on #16
The metagenotypes are shown now, but the data is in the wrong order:

![image](https://user-images.githubusercontent.com/37659591/176420896-47338d1e-d529-4ef8-8368-06b39fa2ce32.png)

The correct format is as follows:

ATR1-delta51 (partial_amino_acid_deletion) [Not assayed] H. arabidopsidis (Maks9)
RPP1-TIRE158A (amino_acid_mutation) [Not assayed] A. thaliana (Ws (Wassilewskija))

[2022-06-29 11:10] jseager7 commented on #32
The Host Phenotype section is gone from PHIG:277 now, so I'm confirming this as fixed.

[2022-06-29 11:10] #32 closed, assigned to nobody

[2022-06-29 11:12] jseager7 commented on #9
This has been implemented by the Wild type RNA level and Wild type protein level sections on the gene pages. Closing.

[2022-06-29 11:12] #9 closed, assigned to nobody

[2022-06-29 13:45] jseager7 commented on #37
@sahujashobanta Just to clarify, the fix for displaying the missing host genotypes for PHIG:294 doesn't need to wait for the above discussion to be resolved.

I will open a new issue for deciding whether or not we want to keep aggregating annotations by display name.

Once the host genotypes (allele names) are displayed in the display names correctly again (see https://github.com/PHI-base/PHI5_web

[2022-06-29 13:55] jseager7 opened #48 "Should we aggregate annotations by genotype and metagenotype?"
The PHI-base 5 gene pages currently aggregate annotations first by their ontology term, then by the biological feature that is annotated (e.g. genotype or metagenotype). This means that only the additional information section is not further aggregated.

However, the high-level terms are aggregated at the level of the ontology term, which could cause problems if the same ontology term is associated

[2022-07-18 09:57] sahujashobanta commented on #44
It's fixed .
![image](https://user-images.githubusercontent.com/47596513/179488190-65d44e41-2a27-4d11-8f26-244645ea62d0.png)

[2022-07-25 09:10] jseager7 commented on #44
@sahujashobanta Apologies for the late reply. I've confirmed that the expression level is added for PHI Phenotypes, Gene-for-Gene Phenotypes, and Pathogen Phenotypes. However, it seems to be missing for Host Phenotypes.

For example, the following annotation should have the expression level 'Knockdown':

![image](https://user-images.githubusercontent.com/37659591/180740108-1b30a307-6d56-4181-a42c-

[2022-08-03 10:03] jseager7 commented on #48
Based on the last meeting it seems we've decided to keep the current grouping and move the high level terms to the Additional information section. I'll open a new issue for this.

[2022-08-03 10:03] #48 closed, assigned to nobody

[2022-08-03 10:14] jseager7 opened #49 "Move high level terms to Additional information section"
The current annotation display has the high level terms for the annotation next to the display name of the metagenotype, or genotype:

![image](https://user-images.githubusercontent.com/37659591/182582212-7ac06315-66ed-4c80-b564-2b341fb9c04f.png)

However, this could lead to invalid combinations of high level terms – for example, 'reduced virulence' and 'increased virulence' – in cases where the v

[2022-08-04 14:20] jseager7 opened #50 "Pathogen section displays host species on host gene pages"
On gene pages for host species, the Pathogen section is meant to show all the pathogen species and genotypes that interact with the host. However, it currently shows a description of the host species, which is incorrect.

The example shown below is from PHIG:276.

![image](https://user-images.githubusercontent.com/37659591/182869038-dc83cc4a-947c-49fd-976c-efddcc2e3054.png)

The information shown

[2022-08-04 14:36] jseager7 opened #51 "Do we want to show host genotypes on host gene pages?"
Currently, the host gene pages show a list of genotypes in the Host section. The list includes all genotypes that involve the gene specified on the gene page. For example, the gene page for RPP1 of _Arabidopsis thaliana_ (PHIG:276) shows the following genotypes:

![image](https://user-images.githubusercontent.com/37659591/182870848-1a4cdbcb-f9f2-46dc-b3cb-7d8dfc3850e4.png)

However, on the pathoge

[2022-08-04 14:47] jseager7 opened #52 "Wild type host genotypes should be displayed as 'wild type'"
### Host section

In the latest version of PHI-base 5, in the Host section of the gene page, host genotypes with no genes are wrongly displayed using their internal identifier from the PHI-Canto JSON export. For example:

[code]
In these cases, the string "wild type" should be used instead of the internal identifier. Here's a mockup:

![image](https://user-images.githubusercontent.com/37659591/182

[2022-08-08 13:20] jseager7 commented on #51
We've decided on the following:

* For **pathogen** gene pages:
  * The Pathogen section should show a list of all pathogen strains that have annotations involving the gene of the gene page.
  * The Host section should display a list of genes, plus the scientific name and NCBI Taxonomy ID, of any host that interacts with the pathogen (as part of a metagenotype). Wild type host genotypes (genotypes

[2022-08-08 13:21] #51 closed, assigned to jseager7

[2022-08-08 13:22] jseager7 commented on #52
Unless this is already done, I'm going to close this as not planned since we've changed our mind on what information should be shown in the Pathogen and Host sections: we just want to show the interacting gene(s) instead of the genotype. I'll open a new issue for the new design.

[2022-08-08 13:22] #52 closed, assigned to nobody

[2022-08-08 13:25] jseager7 opened #53 "Display wild type host genotypes as 'wild type' in metagenotypes"
(Extracted from issue https://github.com/PHI-base/PHI5_web_display/issues/52)

In the display names for metagenotypes, hosts with no genes are displayed with the string "(wild_type)", which is an allele type instead of a genotype name. For example:

TRI5+ (wild_type) [Wild type product level] F. graminearum (PH-1) | **(wild_type)** T. aestivum (cv. Bobwhite)

The correct display is simply "wild ty

[2022-08-08 13:47] jseager7 opened #54 "Physical Interaction annotations are missing from host gene pages"
The host gene pages do not show Physical Interaction annotations that involve the host gene: this information is only shown on the pathogen gene pages, but it should be shown on both pathogen and host gene pages.

For example, given the following `physical_interaction` annotation:

[code]

The display is correct on the pathogen gene page for MGG_08054 (PHIG:294):

![image](https://user-images.gith

[2022-08-08 14:08] jseager7 opened #55 "Host section is missing on host genes with no genotype annotations"
For host genes that are only involved in Physical Interaction annotations (such as P69B of Solanum lycopersicum, PHIG:267), the Host section is missing from the gene page, presumably because this section is populated from genotype and metagenotype names, but none exist for the gene.

We probably still want to include the Host section in this case, since otherwise there is no way to see the NCBI Ta

[2022-08-08 14:10] jseager7 commented on #55
@martin2urban @CuzickA Just to confirm, in the Host (or Pathogen) section of the gene page, when it summarises all the strains that have been curated in PHI-base for that gene, are we planning to exclude the publication references? Meaning, should we exclude the Reference column?

I think we already decided to exclude the Reference column from the Pathogen (or Host) section that list all of the in

[2022-08-08 16:16] jseager7 opened #56 "Change which data is displayed in the Pathogen and Host sections"
(Follow-up from #51)

The PHI-base team has recently reviewed the Pathogen and Host sections of the gene page and identified a number of problems. We've decided to clarify the requirements for these sections.

* For **pathogen** gene pages:
  * The Pathogen section should show a list of all pathogen strains that have annotations involving the gene of the gene page.
  * The Host section should disp

[2022-08-15 08:10] CuzickA commented on #55
Hi @jseager7
Yes, I think that we decided to remove the reference column from the entries in the pathogen or host sections.

[2022-08-15 08:44] jseager7 commented on #55
Thanks. I've updated the mockup.

[2022-08-15 08:49] jseager7 commented on #16
Looks like the bug is fixed in the latest version of the website. There's a new display bug causing double parentheses to be shown around allele type names but I'll open a new issue for that.

![image](https://user-images.githubusercontent.com/37659591/184605109-aa5fff2b-0cf4-4f65-9d31-f4b158c2d065.png)

[2022-08-15 08:49] #16 closed, assigned to nobody

[2022-08-15 09:22] jseager7 commented on #37
I've confirmed that all the PHI Phenotypes in the above table are now displayed on the page correctly.

We decided in issue https://github.com/PHI-base/PHI5_web_display/issues/48#issuecomment-1203743586 to keep the current grouping by phenotype, so no further action is needed there.

[2022-08-15 09:22] #37 closed, assigned to jseager7

[2022-08-15 09:28] jseager7 opened #57 "Double parentheses around allele type names"
The PHI-base 5 website has recently started including two sets of parentheses around some allele type names, where there should only be one. For example, on the gene page for PHIG:256:

AvrStb6+ (wild_type) [Wild type product level] Z. tritici (IPO323)
Kin-Stb6 **((partial_amino_acid_deletion))** [Not assayed] T. aestivum (cv. Chinese Spring)

Here's what the correct format should look like:

AvrS

[2022-08-15 09:31] jseager7 commented on #46
Looks like this is done now.

![image](https://user-images.githubusercontent.com/37659591/184611759-4f3d09a6-5dad-4641-b54f-3a4b4d106bc8.png)

[2022-08-15 09:31] #46 closed, assigned to Molecular-Connections

[2022-08-15 09:37] jseager7 commented on #45
I've confirmed that the genus is abbreviated in all the above annotation types (except Disease name), and not in the annotation pop-up.

I'll close this issue now since abbreviation in the Disease name annotations can be checked once the pathogen and host display names are shown (see issue #47).

[2022-08-15 09:37] #45 closed, assigned to Molecular-Connections

[2022-08-15 09:39] jseager7 commented on #44
Looks like the expression level is shown for Host Phenotype annotations now.

![image](https://user-images.githubusercontent.com/37659591/184612834-a4408547-472b-404d-b39a-01b1adad5247.png)

![image](https://user-images.githubusercontent.com/37659591/184612878-37460c0e-18bc-4741-9663-285b17ba5457.png)

[2022-08-15 09:39] #44 closed, assigned to Molecular-Connections

[2022-08-18 10:48] jashobanta-mcpl commented on #55
@jseager7  : We are unable to match the Gene name in allele block while traversing . Hence the block is missing . Please suggest . JSON blocks pasted  for your reference .

      "alleles": {
        "D0MVC9:babb18b437174938-3": {
          "allele_type": "wild_type",
          "gene": "Phytophthora infestans D0MVC9",
          "name": "EPI1+",
          "primary_identifier": "D0MVC9:babb18b437174

[2022-08-22 09:08] jseager7 commented on #55
@jashobanta-mcpl It's much easier to find the organism data for the gene if you use the new JSON export format, since every gene has an `organism` object containing the organism taxon ID and scientific name. For example:

[code]

However, if that's not an option, then you'll need to look elsewhere in the current export format to get the organism data. See below for an explanation:

- - -

There wi

[2022-08-23 07:41] jashobanta-mcpl commented on #56
Thanks @jseager7  . Please let us know the steps for implement it with current JSON format . We will implement it in new export format later .

[2022-08-23 10:23] jseager7 commented on #56
@jashobanta-mcpl See below for a description of how to populate the Pathogen and Host sections with the current export format.

## Get all strains for a gene

When the organism of the gene page is a pathogen, then the Pathogen section should contain all the strains linked to the genotypes that contain the page's pathogen gene. When the organism of the gene page is a host, then the Host section sho

[2022-08-23 10:31] jseager7 commented on #56
Also, to find out whether a gene is a pathogen or host gene, you have to search each metagenotype in the export to check whether the gene is contained in the `pathogen_genotype` or the `host_genotype`.

You have to dereference the identifiers in the following sequence to get back to the gene:

1. `pathogen_genotype` and `host_genotype` dereference to a genotype in the `genotypes` object,
2. the `i

[2022-08-24 08:45] jseager7 commented on #50
Related: #56

[2022-08-24 08:46] jseager7 commented on #55
Related: #56

[2022-09-16 11:23] jseager7 commented on #10
This was completed a while ago, so I'm closing this now.

[2022-09-16 11:23] #10 closed, assigned to nobody

[2022-09-16 13:07] jseager7 opened #58 "Advanced Search for annotation type is not working"
On the Advanced Search page, there is a field for filtering by annotation type (e.g. Pathogen Phenotype, Wild-type expression level, and so on).

![image](https://user-images.githubusercontent.com/37659591/190645694-e6475c4c-d49d-4fbe-af0c-96e49c14ad28.png)

However, the field doesn't seem to apply any filtering to the search results. The results stay at 95 results regardless of which annotation t

[2022-09-16 13:10] jseager7 opened #59 "Most content pages on the website are empty"
Most of the pages linked to from the homepage of the PHI-base 5 website currently have no text content (which the PHI-base team previously supplied). This may be related to strapi not being integrated correctly with the website.

Shown below is an example of empty sections on the Community page.

![image](https://user-images.githubusercontent.com/37659591/190646446-13adee95-f12b-468a-a237-ce8717c3

[2022-09-16 13:12] jseager7 commented on #28
@martin2urban The link to the PHIB-BLAST tutorial on the PHI-base 5 homepage still points to a private video on YouTube. Can you please make the video public, or supply a link that points to the public version of the video?

[2022-09-16 13:18] jseager7 opened #60 "Wrong publication reference in 'How to cite us' section"
On the homepage, the 'How to cite us' link and the DOI for the latest NAR publication are both broken. Also, the DOI is not displayed and the publication date is wrong.

![image](https://user-images.githubusercontent.com/37659591/190647527-fd154656-730d-4af2-81f2-42cd24c4f4ce.png)

This is a regression from issue #43, where it was requested that the section appear as follows:

The URL for both lin

[2022-09-16 13:25] jseager7 opened #61 "Pathogen and host species lists do not download on click"
The 'Pathogens' and 'Hosts' links in the sidebar are supposed to download their respective CSV files when clicked. Currently, they only seem to open a blank tab, and will only download correctly by saving the link using the right-click menu.

The 'Disease' link downloads the CSV file correctly, though I haven't tested this on all browsers. The bug is likely related to the attributes used on the an

[2022-09-16 13:30] jseager7 opened #62 "Set maximum width on 'Filter by Phenotype' drop-down menu"
The 'Filter by Phenotype' field in some annotation sections has no maximum width configured, meaning its width is dictated by the names of the phenotype terms. This means that the phenotype filter can become too wide in some cases.

For example, on the gene page for PHIG:297, the phenotype filter is so wide that it overlaps the 'Expand all' button:

![image](https://user-images.githubusercontent.c

[2022-09-16 13:46] jseager7 opened #63 "'Effector' high level term not displayed on effector gene pages"
The gene pages for effector genes are not showing the 'Effector' high level term.

In the instructions for mapping the PHI-base 4 high level terms to data in PHI-base 5, we decided that the 'Effector' high level term should be displayed in the following cases:

* The annotation is a GO Biological Process annotation with the term GO:0140418 or any of its child terms, **or**
* the annotation is a me

[2022-09-16 13:49] jseager7 commented on #63
@CuzickA In issue https://github.com/PHI-base/PHI5_web_display/issues/17 we decided we wanted to show the 'Effector' high level term on PHI phenotypes and GfG phenotypes in addition to the GO Biological Process annotations.

But, do we only want to display the 'Effector' term on the gene page for the effector gene, or should it also be shown on the host gene pages for the metagenotypes where the h

[2022-09-16 14:05] jseager7 opened #64 "Add 'High level term' filter to the Advanced Search page"
Currently, it is difficult for users to query for genes with high level terms (e.g. reduced virulence) because these terms are curated in different ways.

For example, the 'Effector' high level term is a GO Biological Process annotation, the chemistry terms are curated with Pathogen Phenotypes and Host Phenotypes, and most other terms are curated using annotation extensions.

It would be ideal if

[2022-09-16 14:07] jseager7 commented on #64
@CuzickA Can you confirm if the following list of high level terms is complete with regards to PHI-Canto, or are there any I've missed?

- Effector
- Increased virulence
- Lethal
- Loss of mutualism
- Loss of pathogenicity
- Mutualism present
- Reduced virulence
- Resistance to chemical
- Sensitivity to chemical
- Unaffected pathogenicity

There might be some more terms in the infective ability ph

[2022-09-19 15:13] martin2urban commented on #28
@jseager7: Sorry there is a misunderstanding. Currently we do not have a PHIB-BLAST tutorial video and the link should be to url: https://phi-blast.phi-base.org/   instead.

[2022-09-20 08:47] jseager7 commented on #28
@martin2urban There is already a link to PHIB-BLAST in the navigation bar on the PHI-base 5 website, which links to the PHIB-BLAST URL given above.

![image](https://user-images.githubusercontent.com/37659591/191211805-8fe9c9fe-3cf7-491b-b011-5bef62ca3788.png)

Therefore, should the PHIB-BLAST link be removed from the PHI-base Data section (shown below)?

![image](https://user-images.githubusercon

[2022-09-20 09:07] jseager7 commented on #59
The pages are now populated with content again.

![image](https://user-images.githubusercontent.com/37659591/191216868-4b02ef53-307b-451f-9805-e53b6bd462ee.png)

[2022-09-20 09:07] #59 closed, assigned to Molecular-Connections

[2022-09-20 09:12] jseager7 opened #65 "No posters and presentations for years 2018 and 2020"
The About page has a section called 'Presentations and Posters on PHI-base' which is meant to show a yearly listing of posters and presentations. However, there are no posters or presentations for the years 2018 and 2020, so a 'Content not received' placeholder is currently being shown instead.

![image](https://user-images.githubusercontent.com/37659591/191217991-80bd3297-f83e-4b9c-8c7e-bef526daa

[2022-09-20 10:52] martin2urban commented on #65
I agree, this should be removed.

[2022-09-21 06:29] jashobanta-mcpl commented on #62
Issue is  fixed and deployed .

[2022-09-21 06:48] jashobanta-mcpl commented on #61
It was an issue from the headless CMS connection end. Fixed and deployed .

[2022-09-21 06:50] jashobanta-mcpl commented on #60
It was an issue from the headless CMS connection end. Fixed and deployed .  Same as #61

[2022-09-21 06:53] jashobanta-mcpl commented on #58
It's implemented in combination of annotation type AND ( Annotation Extension Type OR  Annotation Extension Term)  OR all three  in AND condition .

Please let us know if we need to change the implemention .

[2022-09-21 06:54] jashobanta-mcpl commented on #57
Fixed and deployed

[2022-09-21 06:56] jashobanta-mcpl commented on #54
Fixed and deployed

[2022-09-21 07:00] jashobanta-mcpl commented on #49
Fixed and deployed

[2022-09-21 07:00] jashobanta-mcpl commented on #47
Fixed and deployed

[2022-09-21 08:41] jseager7 commented on #62
Confirmed fixed.

![image](https://user-images.githubusercontent.com/37659591/191457821-ecc437c7-cd1d-4e35-b390-bc24e59c0605.png)

[2022-09-21 08:41] #62 closed, assigned to Molecular-Connections

[2022-09-21 08:44] jseager7 commented on #61
Confirmed as fixed.

[2022-09-21 08:44] #61 closed, assigned to Molecular-Connections

[2022-09-21 08:47] jseager7 commented on #60
@jashobanta-mcpl I'm still seeing the broken links on the latest version of the website (v3).

![image](https://user-images.githubusercontent.com/37659591/191459025-7c2f6825-0f07-49e1-b1f7-e36ea5b8ab37.png)

Maybe the change didn't deploy correctly?

[2022-09-21 08:48] jseager7 commented on #57
Confirmed as fixed.

![image](https://user-images.githubusercontent.com/37659591/191459594-975db5dc-7032-42a1-aec6-653921865a89.png)

[2022-09-21 08:48] #57 closed, assigned to Molecular-Connections

[2022-09-21 08:51] jseager7 commented on #54
Confirmed as fixed for PHIG:290 (the gene referenced by PHIG:294).

![image](https://user-images.githubusercontent.com/37659591/191460031-f6f45236-3b04-4e79-aadf-1cdea65bff25.png)

[2022-09-21 08:51] #54 closed, assigned to Molecular-Connections

[2022-09-21 08:53] jseager7 commented on #49
Confirmed as fixed.

![image](https://user-images.githubusercontent.com/37659591/191460435-3f23070e-1374-456a-9bee-23a76a31c68f.png)

[2022-09-21 08:53] #49 closed, assigned to Molecular-Connections

[2022-09-21 11:30] jseager7 commented on #58
In the last meeting we decided that the Annotation Type should be searchable without specifying any other fields. So, for example, if the user selects "Wild-type expression level", then only those genes with at least one Wild-type expression level annotation should be returned.

[2022-09-21 11:38] jseager7 commented on #60
@jashobanta-mcpl Never mind, the problem with the links was because of my browser cache not having refreshed.

However, the date on the publication reference is still incorrect. It says 2019, but the publication date of the DOI is 2022.

Here's what I'd expect to see:

![image](https://user-images.githubusercontent.com/37659591/191494271-53c92711-bc98-4ee6-a642-14865d549b2d.png)

Note also that "e

[2022-09-21 12:31] jseager7 commented on #65
@Molecular-Connections Here's a mockup of what the section should look like with the 2018 and 2020 sections removed.

Note that it would be clearer if each poster or presentation were in separate `<li>` elements (currently they are separated with `<br>` elements).

![image](https://user-images.githubusercontent.com/37659591/191503803-00bed208-2edd-456e-80fa-87fe813e87d0.png)

[2022-09-21 12:34] jseager7 commented on #55
The Host section is displayed for PHIG:267 now.

![image](https://user-images.githubusercontent.com/37659591/191504740-a20a4ce1-fdd9-45c5-a6d2-0bd85f3e8375.png)

The Host strain, Host genotype, and Reference columns probably don't need to be shown in this case, but since those changes overlap with issue #56, I'll close this issue as completed.

[2022-09-21 12:34] #55 closed, assigned to Molecular-Connections

[2022-09-21 12:38] jseager7 commented on #50
The Pathogen section has been removed from Host gene pages, which is okay for now, since issue #56 will obsolete this issue.

Once issue #56 is completed, then the Pathogen section should be displayed on the host gene pages again, and the section should display a list of all pathogen genes that interact with the host gene.

[2022-09-21 12:38] #50 closed, assigned to Molecular-Connections

[2022-09-21 12:41] jseager7 commented on #28
@Molecular-Connections In the last meeting we decided it would be simpler to just remove the "PHIB-BLAST Tutorial" link from the PHI-base Data section, since PHIB-BLAST is already linked to in the navigation bar.

[2022-09-21 12:51] jseager7 commented on #47
@jashobanta-mcpl Thanks, but there's a problem with the new Disease display. The source annotations in PHI-Canto are on many different pathogen strains of _H. arabidopsidis_, but in the current display all the pathogen strains are the same (Emoy2).

![image](https://user-images.githubusercontent.com/37659591/191507124-d8cf63ce-4d99-47ef-8ffc-6a0860ccb41d.png)

In the images in [my original comment

[2022-09-21 12:55] jseager7 opened #66 "Typo in the website footer"
The website footer has a typo near the date of the last change to the website. "Revison" should be spelled "Revs**i**on".

![image](https://user-images.githubusercontent.com/37659591/191508854-175e4035-f9a9-4e12-a82b-1571e081f05f.png)

[2022-10-10 14:53] jashobanta-mcpl commented on #56
@jseager7 ,
We are bit confused with  the data capture flow for multiple PHIGID populating in Pathogen and Host block .
Requesting for a flow with actual JSON snippet for traversing  for Q00909 and  any other host gene . Thanks .

[2022-10-11 11:58] jseager7 commented on #56
@jashobanta-mcpl I just realised I made a mistake in my original comment, where I stated that the gene in the example was TRI5 of _Fusarium graminearum_ (UniProtKB:Q00909, PHIG:253). The gene is actually RALF of _Fusarium graminearum_ (UniProtKB:A0A0E0SJI5, PHIG:278).

This might be the cause of the confusion, since there are no host genes involved in any interaction with Q00909 (meaning only wild

[2022-10-11 14:14] jseager7 commented on #56
@jashobanta-mcpl Please see below for more instructions on how to populate the Pathogen and Host sections.

Pathogen gene pages
-------------------

The pathogen gene examples will use the Tox1 gene from _Parastagonospora nodorum_ (UniProtKB:A9JX75), since that is the only example I can find of a pathogen gene with multiple strains that is also involved in interactions with host genes. Note that f

[2022-10-12 07:01] jashobanta-mcpl commented on #66
It's fixed.
![image](https://user-images.githubusercontent.com/36154984/195272464-8d49b02e-f2be-4b00-9977-6f7647a6ad3f.png)

[2022-10-12 07:03] jashobanta-mcpl commented on #60
It's fixed .

[2022-10-12 07:05] jashobanta-mcpl commented on #58
Search by  "Annotation Type" is implemented as per the requirement .

[2022-10-12 07:07] jashobanta-mcpl commented on #47
Implemented .. Content re-indexing is going on .
![image](https://user-images.githubusercontent.com/36154984/195273550-1d91cd57-645c-426a-a248-303b980dd0fd.png)

[2022-10-12 07:08] jashobanta-mcpl commented on #28
"PHIB-BLAST Tutorial" link is removed from the Home page

[2022-10-12 08:40] jashobanta-mcpl commented on #65
Changes are done .
![image](https://user-images.githubusercontent.com/36154984/195294420-9ef19174-1218-44ea-9b4d-c2eca43633fb.png)

[2022-10-12 09:41] CuzickA commented on #65
Typo '2th' should be changed to '12th'

[2022-10-12 09:50] jseager7 commented on #66
Confirmed as fixed.

[2022-10-12 09:50] #66 closed, assigned to Molecular-Connections

[2022-10-12 09:53] jseager7 commented on #64
There is now a search field for High level terms. The drop-down only lists the terms that are currently available in the database, rather than the complete list of terms above, but that's not a problem assuming that the drop-down will be updated when any new high level terms are loaded.

![image](https://user-images.githubusercontent.com/37659591/195311453-b417a2f1-a203-4d9f-a5a1-00332400fa4f.png)

[2022-10-12 09:53] #64 closed, assigned to Molecular-Connections

[2022-10-12 09:58] jseager7 commented on #60
@jashobanta-mcpl We still need the text on the citation updated to have 2022 as the year (instead of 2019), and "et al" needs to end with a full stop, as in "et al." See the image below:

![image](https://user-images.githubusercontent.com/37659591/191494271-53c92711-bc98-4ee6-a642-14865d549b2d.png)

Note that my caching issue was only to do with the links: the problem with the citation text still

[2022-10-12 09:59] jseager7 commented on #58
Confirmed as fixed.

[2022-10-12 09:59] #58 closed, assigned to Molecular-Connections

[2022-10-12 10:00] jseager7 commented on #28
Confirmed as fixed.

[2022-10-12 10:00] #28 closed, assigned to Molecular-Connections

[2022-10-12 14:10] jseager7 commented on #56
@jashobanta-mcpl In the last meeting we decided on some further requirements for the Pathogen and Host sections:

* Pathogen genes involved in interactions with wild type hosts (that is, host genotypes with no alleles) should have these host species listed in the Host section of the pathogen gene page.

* Genes that interact through Physical Interaction annotations should also be included in the H

[2022-10-12 14:17] jseager7 commented on #47
Looks like the Disease annotations are fixed now. Closing.

[2022-10-12 14:17] #47 closed, assigned to Molecular-Connections

[2022-10-19 10:00] jseager7 opened #67 "Missing genes from PHI-Canto export"
The latest JSON export from PHI-Canto was sent on 25 August 2022. However, there are a lot of genes in this export that do not appear to be loaded in PHI-base 5, meaning they don't return any search results for their UniProtKB accession number.

Below is a table of the accessions that return no results, plus their PMIDs:

UniProtKB AC | Publication
-- | --
A0A224ATS2 | PMID:16965554
D0NKT5 | PMID:

[2022-11-02 10:49] jseager7 commented on #65
The typo is fixed now.
![image](https://user-images.githubusercontent.com/37659591/199470998-5a1c6487-163b-4e77-a007-09c5b73261c0.png)

[2022-11-02 10:49] #65 closed, assigned to Molecular-Connections

[2022-11-02 10:49] jseager7 commented on #67
These genes were missing because the latest export had not been loaded, but that should be done soon.

[2022-11-02 10:51] jseager7 commented on #60
This is fixed now.

![image](https://user-images.githubusercontent.com/37659591/199471302-2b521aeb-2450-4229-9650-fc569d29b408.png)

[2022-11-02 10:51] #60 closed, assigned to Molecular-Connections

[2022-11-02 11:49] jseager7 opened #68 "Add high level terms to phenotype filter"
Currently the phenotype filter on the gene pages only filters by PHIPO phenotype, but we'd like the high level terms to be available for filtering too.

The high level terms can be shown in the same `<select>` drop-down as the other phenotypes, with the high level terms and PHIPO phenotypes separated by `<optgroup>` elements.

Here's a mockup for the PHI Phenotype section of PHIG:253:

![image](ht

[2022-11-02 11:49] jseager7 commented on #5
I'm making this obsolete in favour of a new issue at #68.

[2022-11-02 11:49] #5 closed

[2022-11-22 10:02] jashobanta-mcpl commented on #67
Latest Data is uploaded to the UI .

[2022-11-22 10:28] jashobanta-mcpl commented on #63
It's fixed . Ref : PHIG:277
![image](https://user-images.githubusercontent.com/36154984/203290727-a5491d72-475a-4c8a-9c17-6bc81a09e1d6.png)

[2022-11-22 11:15] jashobanta-mcpl commented on #53
Fixed .
![image](https://user-images.githubusercontent.com/36154984/203300664-8ba778f3-94fe-4bb6-8e81-978321f02313.png)

[2022-11-22 13:27] jashobanta-mcpl commented on #56
Implemented . Indexing is in progress .

![image](https://user-images.githubusercontent.com/36154984/203325560-f7501911-8f2a-4d40-ad10-e82ff467923a.png)

[2022-11-22 13:42] jseager7 opened #69 "Incorrect display in metagenotype display names"
The latest update to the website has caused problems with the metagenotype display names on the gene pages. Using PHIG:277 as an example:

![image](https://user-images.githubusercontent.com/37659591/203327134-e9755291-5883-4a47-b2b3-6d15f803791d.png)

The pathogen name _Hyaloperonospora arabidopsidis_ is missing, the strain names are missing, and the host genotype is followed by the text "(null)".

[2022-11-22 13:52] jseager7 commented on #69
Note that in my original comment I forgot to mention that the strain names are missing from the metagenotype display names too. I've updated the comment now.

[2022-11-22 14:12] jseager7 commented on #67
Confirmed that all the above genes are loaded.

[2022-11-22 14:12] #67 closed, assigned to Molecular-Connections

[2022-11-22 14:21] jseager7 opened #70 "Missing host phenotypes for newly loaded genes"
The following PHIG IDs have at least one Host Phenotype annotation in the PHI-Canto JSON export, but there are no host phenotypes shown on the gene pages, just an empty section:

![image](https://user-images.githubusercontent.com/37659591/203336217-192cc908-46d9-42fc-b786-3c1369808e81.png)

* PHIG:359
* PHIG:361

[2022-11-22 14:24] jseager7 opened #71 "Missing prefix for PMIDs in Publication section"
It seems like the PMIDs for newly loaded publications are missing the "PMID:" prefix that was on older data. PHIG:253 has this problem:

![image](https://user-images.githubusercontent.com/37659591/203338041-584e67a1-8bd8-41ca-8fe5-0bfbfb49804b.png)

I think we should show the "PMID:" prefix for all the PMIDs.

[2022-11-22 14:27] jseager7 opened #72 "Duplicated annotations on gene pages"
Since the latest export was loaded, there seem to be duplicated annotations in some sections of the gene pages (probably those that involve metagenotypes). The example below is from PHIG:277, showing two identical annotations:

![image](https://user-images.githubusercontent.com/37659591/203338990-72fcd25c-58d5-4039-b783-75b84a5c1126.png)

This may be related to the bug described in issue #69.

[2022-11-22 14:35] jseager7 opened #73 "Inconsistent formatting in metagenotype pop-up"
There is inconsistent formatting in the pop-up that shows when a metagenotype name is moused over. Here's an example from PHIG:277.

![image](https://user-images.githubusercontent.com/37659591/203339511-6e66be14-3280-430c-a663-0801a4cf2183.png)

* The allele type (Type) should not be enclosed in brackets: "(amino_acid_mutation)" should be "amino acid mutation". Ideally, the underscores should also

[2022-11-22 14:45] jseager7 commented on #63
@jashobanta-mcpl Thanks, but please could you capitalise "effector" to "Effector", since that's how it appears in other High level term sections:

![image](https://user-images.githubusercontent.com/37659591/203342947-48543815-12f9-40b5-8f3c-6f776b843abc.png)

We also need the Effector high level term shown in the "PHI high level term" column of the Entry Summary section, which is what happens with

[2022-11-22 14:46] jseager7 commented on #53
Confirmed as fixed.

[2022-11-22 14:46] #53 closed, assigned to Molecular-Connections

[2022-11-23 10:01] CuzickA opened #74 "Some genes have no cross-references to Ensembl Genomes"
Example 1

https://poc.molecularconnections.com/phibase-v3/#/search-detail-page/PHIG:302
![image](https://user-images.githubusercontent.com/11753634/203516867-2fec7705-2b68-4855-bee6-b426ec4d668e.png)

https://www.uniprot.org/uniprotkb/P05231/entry
![image](https://user-images.githubusercontent.com/11753634/203517118-cbf56f9e-266c-4a4c-ade4-6189a607c848.png)

Example 2

https://poc.molecularconnec

[2022-11-29 12:59] jseager7 commented on #56
In the last meeting we decided on the following additional requirements:

1. If the pathogen gene is part of a metagenotype with a wild type host, and also part of a metagenotype with a specified host gene, then the Host section should show both of these cases. The metagenotype with a specified host gene should not override the metagenotype with a wild type host. Specifically, there should be:

[2022-11-29 14:02] CuzickA commented on #56
Hi @jseager7, I've just been looking at the curation session for the Physical interaction annotation above.

![image](https://user-images.githubusercontent.com/11753634/204546444-c71ebeeb-637a-4661-a027-0f076b2059d8.png)

![image](https://user-images.githubusercontent.com/11753634/204546897-d0d816f2-4611-4b16-b078-b3b76b3fd99e.png)

I believe there is a curation error. The Physical interaction ann

[2022-11-29 14:13] jseager7 commented on #56
@CuzickA Thanks for clarifying this, but even if the annotation is a curation error, the fact remains that the webpage doesn't seem to be displaying this case correctly.

We can still use this incorrect annotation to verify that the logic used to display the host genes in the Host section is correct, since I think the incorrect annotation might be the only example of this case that we have at the

[2022-11-30 14:58] jseager7 opened #75 "Reassigning PHIG IDs when a UniProtKB accession changes"
(References https://github.com/PHI-base/curation/issues/33)

In PHI-Canto, we recently had to change two UniProtKB accession numbers in an approved curation session. This will affect the PHI-base 5 gene pages since the old accession numbers had already been mapped to PHIG IDs.

PHIG ID | Old AC | New AC |
---|---|---
PHIG:297 | [L7JC49](https://www.uniprot.org/uniprot/L7JC49) | [G4N1S3](https://ww